<template>
    <section class="section">
        <div class="container">
            <div v-if="!$store.getters.visit">
                <SelectVisit />
            </div>

            <div v-else-if="!$store.getters.attraction">
                <SelectAttraction />
            </div>

            <div v-else-if="!$store.getters.partySize">
                <SelectGuests />
            </div>

            <div v-else-if="!$store.getters.fastPassRequest">
                <Review />
            </div>

            <div v-else>
                <Confirmation />
            </div>
        </div>
    </section>
</template>

<script>
    import SelectVisit from './views/SelectVisit'
    import SelectGuests from './views/SelectGuests'
    import SelectAttraction from './views/SelectAttraction'
    import Review from './views/Review'
    import Confirmation from './views/Confirmation'

    export default {
        name: 'App',
        components: {
            SelectVisit,
            SelectGuests,
            SelectAttraction,
            Review,
            Confirmation
        }
    }
</script>
