$family-primary: Avenir,Helvetica,Arial,sans-serif;
$primary: #1994D7;
$link: $primary;
$text: #253B56;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import './node_modules/bulma/bulma.sass';
@import './node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass';

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.castle {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: hsl(204, 86%, 95%);
    -webkit-mask: url(/images/castle.svg) no-repeat 50% 50%;
    mask: url(/images/castle.svg) no-repeat 50% 50%;
    -webkit-mask-size: 100%;
    mask-size: 100%;
}

.step {
  padding-bottom: 30px;
}

.level-left,
.level-item {
    flex-shrink: 1 !important;
}

