<template>
    <div>
        <TopContent title="Confirmed!" />

        <div class="notification is-success">
            Your FastPass+ Request has been received!  We'll take it from here...
        </div>
    </div>
</template>

<script>
    import TopContent from '../components/TopContent';
    import Visit from '../components/Visit'
    import Guest from '../components/Guest'
    import Attraction from '../components/Attraction'

    export default {
        name: 'Confirmation',
        components: {
            TopContent,
            Visit,
            Guest,
            Attraction
        },
        created() {
            this.$store.commit('finishedLoading');
        }
    }
</script>
