<style scoped>
    .guest {
        display: inline-block;
    }

    .guests .guest:not(:first-child) {
        margin-left: -30px;
    }
</style>

<template>
    <div>
        <TopContent title="Review & Confirm" />

        <div v-if="!$store.getters.error">
            <div class="subtitle is-4">
                <time :datetime="$store.getters.visit.date">
                    {{ $store.getters.visit.date | date }}
                </time>
            </div>

            <Attraction :attraction="$store.getters.attraction" :park="$store.getters.visit.park" />
            <div class="step"></div>

            <div class="subtitle is-4">
                FastPass+ Party ({{ $store.getters.guests.length }})
            </div>

            <div class="guests">
                <figure class="guest image is-96x96" v-for="guest in $store.getters.guests" v-bind:key="guest.id">
                    <img class="avatar is-rounded" :src="'/images/' + guest.name + '.jpg'">
                </figure>
            </div>
            <div class="step"></div>

            <!--<p>- Add "Staying at Disney Hotel?" check.</p>
            <p>- Add FastPass+ available times, if possible</p>
            <p>- Allow choosing FastPass+ time or allowing app to figure out for you.  Refresh button to re-run api call to WDW to get times</p>
            <p>- Notification on FastPass+ reservation.  Ask if we're done, or want to find better time? (DO NOT BASE THIS ON DATA FROM THIS APP, ASSUME REAL DISNEY APP MAY HAVE BEEN USED)</p>-->
            <!-- We could also do it the other way, keep looking for better times and if one is found, send notification -->
            <!-- Page to see/manage current fastpasses? -->
            <button class="button is-success is-large is-fullwidth" v-on:click="confirm()">Confirm</button>
        </div>
    </div>
</template>

<script>
    import TopContent from '../components/TopContent';
    import Visit from '../components/Visit'
    import Guest from '../components/Guest'
    import Attraction from '../components/Attraction'

    export default {
        name: 'Review',
        components: {
            TopContent,
            Visit,
            Guest,
            Attraction
        },
        methods: {
            confirm() {
                this.$store.commit('loading');
                this.$store.commit('setError', null);

                fetch('/api/wdw/fastpass-requests', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        park_visit_id: this.$store.getters.visit.id,
                        attraction_id: this.$store.getters.attraction.id,
                        guests: this.$store.getters.guests.map(guest => guest.id)
                    })
                })
                    .then(response => response.json())
                    .then((data) => {
                        if (!data.error) {
                            this.$store.commit('setFastPassRequest', data);
                        } else {
                            this.$store.commit('setError', data.error.message);
                            this.$store.commit('finishedLoading');
                        }
                    });
            },
        }
    }
</script>
