<template>
    <div>
        <TopContent title="Create FastPass+ Party" />

        <div class="step">
            <span class="subtitle is-4">Who's going?</span>
            <p class="subtitle" v-on:click="toggleAll(true)">
                <a>Select All</a>
            </p>
        </div>

        <div class="columns is-multiline">
            <div class="column is-half" v-for="guest in guests" v-bind:key="guest.id" @click="$set(guest, 'checked', !guest.checked)">
                <Guest v-bind:guest="guest" selectable />
            </div>
        </div>

        <hr>

        <button class="button is-primary is-medium is-pulled-right" @click="next">Next</button>
    </div>
</template>

<script>
    import TopContent from '../components/TopContent';
    import Guest from '../components/Guest'

    export default {
        name: 'SelectGuests',
        data() {
            return {
                guests: this.$store.getters.visit.guests
            }
        },
        components: {
            TopContent,
            Guest
        },
        methods: {
            toggleAll(checked) {
                this.guests = this.guests.map(guest => ({ ...guest, checked: checked }));
            },
            next() {
                // TODO: disable button until selection is made, or show error
                let guests = this.guests.filter(guest => { return guest.checked });
                this.$store.commit('setGuests', guests);
            }
        }
    }
</script>
