<template>
    <div>
        <TopContent title="Choose Attraction" :loading-text="'Loading ' + $store.getters.visit.park.name + ' attractions...'" />

        <div v-if="attractions">
            <div class="columns is-multiline">
                <div class="column is-half" v-for="attraction in attractions" v-bind:key="attraction.id" @click="makeSelection(attraction)">
                    <Attraction :attraction="attraction" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import TopContent from '../components/TopContent';
    import Attraction from '../components/Attraction'

    export default {
        name: 'SelectAttraction',
        data() {
            return {
                attractions: []
            }
        },
        components: {
            TopContent,
            Attraction
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                this.$store.commit('loading');
                this.$store.commit('setError', null);

                fetch('/api/wdw/parks/' + this.$store.getters.visit.park.id + '/attractions')
                    .then(response => response.json())
                    .then((data) => {
                        this.attractions = data;

                        this.$store.commit('finishedLoading');
                        this.$store.commit('setError', null);
                    })
                    .catch((error) => {
                        this.$store.commit('setError', error);
                        this.$store.commit('finishedLoading');
                    });
            },
            makeSelection(attraction) {
                this.$store.commit('setAttraction', attraction);
            }
        }
    }
</script>
