<template>
    <div>
        <TopContent title="Choose Park Visit" loading-text="Loading Park Visits..." />

        <div v-if="visits">
            <div class="columns is-multiline">
                <div class="column is-half visit" v-for="visit in visits" v-bind:key="visit.id" @click="makeSelection(visit)">
                    <Visit v-bind:visit="visit" show-details />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import TopContent from '../components/TopContent';
    import Visit from '../components/Visit'

    export default {
        name: 'SelectVisit',
        components: {
            TopContent,
            Visit
        },
        data() {
            return {
                visits: []
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                this.$store.commit('loading');
                this.$store.commit('setError', null);

                fetch('/api/wdw/park-visits')
                    .then(response => response.json())
                    .then((data) => {
                        data = data.filter(visit => visit.guests.length); // TODO: make this part of API?
                        data = data.map(visit => ({ ...visit, image: '/images/parks/' + visit.park.id + '.webp' }));
                        this.visits = data;
                        this.$store.commit('finishedLoading');
                    })
                    .catch((error) => {
                        this.$store.commit('setError', error);
                        this.$store.commit('finishedLoading');
                    });
            },
            makeSelection(visit) {
                this.$store.commit('setVisit', visit);
            }
        }
    }
</script>
