<template>
    <div>
        <div class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <figure class="image is-96x96">
                        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="">
                    </figure>
                </div>

                <div class="level-item">
                    {{ attraction.name }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Attraction',
        props: {
            attraction: Object,
            park: Object
        }
    }
</script>
