<template>
    <div class="field">
        <div class="level is-mobile">
            <div class="level-left">
                <div v-if="selectable" class="level-item">
                    <input type="checkbox" class="is-checkradio is-medium is-circle" v-bind:value="guest.id" :checked="guest.checked">
                    <label></label>
                </div>

                <div class="level-item">
                    <figure class="image is-96x96">
                        <img class="avatar is-rounded" :src="'/images/' + guest.name + '.jpg'">
                    </figure>
                </div>

                <div class="level-item">
                    {{ guest.name }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Guest',
        props: {
            guest: {
                type: Object
            },
            selectable: {
                type: Boolean,
                default: false
            }
        }
    }
</script>
