<template>
    <div>
        <h1 class="title is-3">{{ title }}</h1>
        <hr>

        <div v-if="$store.getters.loading">
            {{ loadingText }}
        </div>

        <div v-if="$store.getters.error">
            An error occurred.  Please try again later.
        </div>
    </div>
</template>

<script>
    export default {
        name: 'TopContent',
        props: {
            title: {
                type: String
            },
            loadingText: {
                type: String,
                default: 'Loading...'
            }
        }
    }
</script>
