<template>
    <div class="card">
        <div class="card-image">
            <figure class="image">
                <img v-bind:src="visit.image" :alt="visit.park.name">
            </figure>
        </div>

        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ visit.park.name }}</p>
                    <p v-if="showDetails" class="subtitle is-6">{{ visit.guests.length }} guest{{ visit.guests.length === 1 ? '' : 's' }}</p>
                </div>
            </div>

            <div class="content">
                <time :datetime="visit.date">{{ visit.date | date }} @ {{ visit.entry | time }} - {{ visit.exit | time }}</time>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Visit',
        props: {
            visit: {
                type: Object
            },
            showDetails: {
                type: Boolean,
                default: false
            }
        }
    }
</script>
